

#threejs-canvas
{
  border: 1px solid #ccc;
  margin-top: 20px;
}

#save-model-data
{
  margin-top: 10px;
  padding: 10px 20px;
  background: #0073aa;
  color: #fff;
  border: none;
  cursor: pointer;
}

.codes_scene
{
  display: flex;
  justify-content: center;
}

/* #codes_controls {
    position: absolute;
    top: 0; */


  .leftControls {
      left: 0;
      width: 223px;
  }

  .rightControls {
      right: 0;
      width: 223px;
  }

  .topTransforms {
    top: 0;
    width: 223px;
    left: 50%;
    transform: translate(-50%);
    position: absolute;

      button
      {

      }
  }

  .rightControls, .leftControls {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      top: 0;
      background: #ffffffb8;
      /* padding: 15px; */
      height: 100%;
      width: 217px;
  }


/* } */
